header {
    padding: 20px;
}

body {
    font-family: 'Montserrat', cursive;
    background-color: #FFFFFF;
}

#title {
    text-align: left;
}

#lang {
    background-color: #111C7C;
    color: white;
    font-weight: bolder;
}

.img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px
}

.caption {
    color: #111C7C;
    font-weight: bolder;
    text-align: center;
}

#imgcred {
    font-size: small;
}
