body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Montserrat', cursive;
    background-color: #FFFFFF;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}




header {
    padding: 20px;
    padding-bottom: 30px;
}


#title {
    text-align: left;
}

.search {
    display: flex;
    justify-content: center;
}

#lang {
    background-color: #111C7C;
    color: white;
    font-weight: bolder;
}

.img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px
}

.caption {
    color: #111C7C;
    font-weight: bolder;
    text-align: center;
}

#imgcred {
    font-size: small;
}

.rheading {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.col-sm-5 {
    border: 1px solid black;
    padding: 10px;
}


.dropbtn {
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
}


.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.show {
    display: block;
}


