@{
    ViewData["Title"] = "Home Page";
}
<!-- https://translate.google.com/manager/website/ -->

<head>
  <title>United Way Community Resources</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="~/css/Graces2.css" type="text/css" runat="server"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet">
</head>

<body>

   <div class = "row">
   <div class = "col-sm-3"> <!--style="font-size: 20px; font-weight: bolder; color: #121B7C;"-->
            <p class="results-title">United Way <br> of Central Arkansas</p>
   </div>
   <div class = 'col-sm-1'>
        <a href="https://www.uwcark.org/">
            <img src="https://www.uwcark.org/sites/uwcark.org/files/live-united.png" alt="UWCARK" height ='125'>
        </a>
   </div>
   <div class = 'col-sm-1'></div>
   <div class = 'col-sm-6'>
   <div class="row">
       <div class = 'col-sm-3'></div>
       <div class = 'col-sm-3'>
         <div class="topbutton1" style="display: flex; justify-content: center; background: #220081; font-family: 'Open Sans', sans-serif; color: white; font-size: 12px; font-stretch: ultra-condensed; font-weight: bolder; padding-top: 20px; padding-bottom: 20px; padding-right: -10px; border: solid white 1px; text-align: center; border-radius: 10px">
            Volunteer
         </div>
       </div>
       <div class = 'col-sm-3'>
         <div class = 'topbutton2' style="display: flex; justify-content: center; background: #ff0000; font-family: 'Open Sans', sans-serif; color: white; font-size: 12px; font-stretch: ultra-condensed; font-weight: bolder; padding-top: 20px; padding-bottom: 20px; padding-right: -10px; border: solid white 1px; text-align: center; border-radius: 10px">
            Donate
         </div>
       </div>
       <div class = 'col-sm-3'>
         <div class = 'topbutton3' style="display: flex; justify-content: center; background: #ff8f00; font-family: 'Open Sans', sans-serif; color: white; font-size: 12px; font-stretch: ultra-condensed; font-weight: bolder; padding-top: 20px; padding-bottom: 20px; padding-right: -10px; border: solid white 1px; text-align: center; border-radius: 10px">
            Share My Event
         </div>
       </div>
   </div>
   <div class="row">
   <div class = 'col-md-6'></div>
     <div class = 'col-md-1' style="vertical-align: bottom; display: table-cell; padding-top: 10px; padding-bottom: 20px; padding-left: 25px; padding-right: 25px;">
        <a href="https://www.facebook.com/uwcark">
            <img src="http://ameliaurgentcare.com/wp-content/uploads/2016/06/facebook-round-350-white-background.png" alt="UWCARK Facebook" height ='50'>
        </a>
     </div>
     <div class = 'col-md-1' style="vertical-align: bottom; display: table-cell; padding-top: 10px; padding-bottom: 20px; padding-left: 25px; padding-right: 25px;">
        <a href="https://www.instagram.com/uwcark/">
            <img src="http://sguru.org/wp-content/uploads/2018/01/instagram-logo-png-transparent-background-1024x1024.png" alt="UWCARK Instagram" height ='50'>
        </a>
     </div>
     <div class = 'col-md-1' style="vertical-align: bottom; display: table-cell; padding-top: 10px; padding-bottom: 20px; padding-left: 25px; padding-right: 25px;">
        <a href="https://twitter.com/UWCARK">
            <img src="http://www.transparentpng.com/thumb/twitter/twitter-png-3.png" alt="UWCARK Twitter" height ='50'>
        </a>
     </div>
     <div class = 'col-md-1' style="vertical-align: bottom; display: table-cell; padding-top: 10px; padding-bottom: 20px; padding-left: 25px; padding-right: 25px;">
        <a href="https://www.uwcark.org/sites/uwcark.org/files/linked-in_1.png">
            <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_color-256.png" alt="UWCARK LinkedIn" height ='50'>
        </a>
     </div>
     <div class = 'col-md-1' style="vertical-align: bottom; display: table-cell; padding-top: 10px; padding-bottom: 20px; padding-left: 25px; padding-right: 25px;">
        <a href="https://www.youtube.com/channel/UCY08y2xv6FmpcICnedFLhmQ">
            <img src="https://vignette.wikia.nocookie.net/ichc-channel/images/9/93/Youtube-circle.png/revision/latest?cb=20160419135307" alt="UWCARK Youtube" height ='50'>
        </a>
     </div>
   <div class = 'col-md-1'></div> </div> </div></div>

        
<div class = 'toolbar'>
   <div class = 'row'> 
     <div class = 'col-lg-2'>ABOUT US</div>
     <div class = 'col-lg-2'>OUR WORK</div>
     <div class = 'col-lg-2'>GET INVOLVED</div>
     <div class = 'col-lg-2'><a asp-area="" asp-controller="Home" asp-action="Index" style="color: white">COMMUNITY RESOURCES</a></div>
     <div class = 'col-lg-2'><a asp-area="" asp-controller="Home" asp-action="GracesResults2" style="color: white">EVENTS</a></div>
     <div class = 'col-lg-2'><a asp-area="" asp-controller="Organizations" asp-action="Index" style="color: white">LOGIN</a></div>
</div>

 </div>
    
  <header class="container">
    <div class="row">
      <h1 class="col-sm-9" id="title">Community Resources</h1>
      <div class="col-sm-3" id="google_translate_element">
                <script type="text/javascript">
                        function googleTranslateElementInit() {
                          new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
                        }
                </script>
                <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
                </script>


      </div>
    </div>
  </header>
  <div class="container">
      <div class="row">
          <div class="col-sm-3">
                                  <a asp-area="" asp-controller="Home" asp-action="InitialResults/1">
                      <img src="https://png.icons8.com/ios/100/000000/hanger.png" class="img-responsive" alt="Clothing">
                      <div class="caption">
                          <p>Clothing</p>
                      </div>
                  </a>
          </div>
          <div class="col-sm-3">
                                 <a asp-area="" asp-controller="Home" asp-action="InitialResults/2">
                      <img src="https://png.icons8.com/ios/100/000000/reading.png" class="img-responsive" alt="Education">
                      <div class="caption">
                          <p>Education</p>

                      </div>
                  </a>
          </div>
          <div class="col-sm-3">
                                  <a asp-area="" asp-controller="Home" asp-action="InitialResults/3">
                      <img src="https://png.icons8.com/ios/100/000000/new-job.png" class="img-responsive" alt="Employment">
                      <div class="caption">
                          <p>Employment</p>
                      </div>
                  </a>
          </div>
          <div class="col-sm-3">
                                  <a asp-area="" asp-controller="Home" asp-action="InitialResults/4">
                      <img src="https://png.icons8.com/ios/100/000000/exchange.png" class="img-responsive" alt="Finances">
                      <div class="caption">
                          <p>Finances</p>
                      </div>
                  </a>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-3">
                                  <a asp-area="" asp-controller="Home" asp-action="InitialResults/5">
                      <img src="https://png.icons8.com/wired/100/000000/restaurant.png" class="img-responsive" alt="Food">
                      <div class="caption">
                          <p>Food</p>
                      </div>
                  </a>
          </div>
          <div class="col-sm-3">
                                  <a asp-area="" asp-controller="Home" asp-action="InitialResults/6">
                      <img src="https://png.icons8.com/ios/100/000000/real-estate.png" class="img-responsive" alt="Housing">
                      <div class="caption">
                          <p>Housing</p>
                      </div>
                  </a>
          </div>
          <div class="col-sm-3">
                                  <a asp-area="" asp-controller="Home" asp-action="InitialResults/7">
                      <img src="https://png.icons8.com/ios/100/000000/tornado.png" class="img-responsive" alt="Natural Disaster">
                      <div class="caption">
                          <p>Natural Disaster</p>
                      </div>
                  </a>
          </div>
          <div class="col-sm-3">
                                 <a asp-area="" asp-controller="Home" asp-action="InitialResults/8">
                      <img src="https://png.icons8.com/ios/100/000000/elderly-person.png" class="img-responsive" alt="Senior Assistance">
                      <div class="caption">
                          <p>Senior Assistance</p>
                      </div>
                  </a>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-3">
                                  <a asp-area="" asp-controller="Home" asp-action="InitialResults/9">
                      <img src="https://png.icons8.com/wired/100/000000/purchase-order.png" class="img-responsive" alt="Utilities / Rent Assistance">
                      <div class="caption">
                          <p>Utilities / Rent Assistance</p>
                      </div>
                  </a>
          </div>
          <div class="col-sm-3">
                                 <a asp-area="" asp-controller="Home" asp-action="InitialResults/10">
                      <img src="https://png.icons8.com/ios/100/000000/doctors-bag.png" class="img-responsive" alt="Medical / Prescription">
                      <div class="caption">
                          <p>Medical / Prescription</p>
                      </div>
                  </a>
          </div>
          <div class="col-sm-3">
                                <a asp-area="" asp-controller="Home" asp-action="InitialResults/11">
                      <img src="https://png.icons8.com/wired/100/000000/medal.png" class="img-responsive" alt="Veterans Service">
                      <div class="caption">
                          <p>Veterans Service</p>
                      </div>
                  </a>
          </div>
          <div class="col-sm-3">
                                 <a asp-area="" asp-controller="Home" asp-action="InitialResults/12">
                      <img src="https://png.icons8.com/ios/100/000000/more.png" class="img-responsive" alt="Miscellaneous / Other">
                      <div class="caption">
                          <p>Miscellaneous / Other</p>
                      </div>
                  </a>
          </div>
      </div>
  </div>

    <footer>
        <!-- Start of SimpleHitCounter Code -->
    <div align="center"><a href="http://www.simplehitcounter.com" target="_blank"><img src="http://simplehitcounter.com/hit.php?uid=2354943&f=0&b=16777215" border="0" height="18" width="83" alt="web counter"></a><br><a href="http://www.simplehitcounter.com" target="_blank" style="text-decoration:none;">web counter</a></div>
    <!-- End of SimpleHitCounter Code -->
        </footer>
  
</body>