@{
    ViewData["Title"] = "Home Page";
}
<!-- https://translate.google.com/manager/website/ -->

<head>
  <title>United Way Community Resources</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/UpdatedSite.css"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>
  <header class="container">
    <div class="row">
      <h1 class="col-sm-9" id="title">Community Resources</h1>
      <div class="col-sm-3" id="google_translate_element">
                <script type="text/javascript">
                        function googleTranslateElementInit() {
                          new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
                        }
                </script>
                <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
                </script>


      </div>
    </div>
  </header>
  
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <a href="https://www.uwcark.org/clothing">
          <img src="https://png.icons8.com/ios/100/000000/hanger.png" class="img-responsive" alt="Clothing">
          <div class="caption">
            <p>Clothing</p>
          </div>
        </a>
      </div>
      <div class="col-sm-3">
        <a href="https://www.uwcark.org/education-youth-programs">
          <img src="https://png.icons8.com/ios/100/000000/reading.png" class="img-responsive" alt="Education">
          <div class="caption">
            <p>Education</p>
          </div>
        </a>        
      </div>
      <div class="col-sm-3">
        <a href="https://www.uwcark.org/employment-assistance">
          <img src="https://png.icons8.com/ios/100/000000/new-job.png" class="img-responsive" alt="Employment">
          <div class="caption">
            <p>Employment</p>
          </div>
        </a>
      </div>
      <div class="col-sm-3">
        <a href="https://www.uwcark.org/financial-assistance-and-other-household">
          <img src="https://png.icons8.com/ios/100/000000/exchange.png" class="img-responsive" alt="Finances">
          <div class="caption">
            <p>Finances</p>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <a href="https://www.uwcark.org/food-pantry-0">
          <img src="https://png.icons8.com/wired/100/000000/restaurant.png" class="img-responsive" alt="Food">
          <div class="caption">
            <p>Food</p>
          </div>
        </a>
      </div>
      <div class="col-sm-3">
        <a href="https://www.uwcark.org/housing-and-utility-assistance">
          <img src="https://png.icons8.com/ios/100/000000/real-estate.png" class="img-responsive" alt="Housing">
          <div class="caption">
            <p>Housing</p>
          </div>
        </a>
      </div>
      <div class="col-sm-3">
        <a href="https://www.uwcark.org/natural-disaster">
          <img src="https://png.icons8.com/ios/100/000000/tornado.png" class="img-responsive" alt="Natural Disaster">
          <div class="caption">
            <p>Natural Disaster</p>
          </div>
        </a>
      </div>
      <div class="col-sm-3">
        <a href="https://www.uwcark.org/veterans-and-senior-assistance">
          <img src="https://png.icons8.com/ios/100/000000/elderly-person.png" class="img-responsive" alt="Senior Assistance">
          <div class="caption">
            <p>Senior Assistance</p>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <a href="https://www.uwcark.org/housing-and-utility-assistance">
          <img src="https://png.icons8.com/wired/100/000000/purchase-order.png" class="img-responsive" alt="Utilities / Rent Assistance">
          <div class="caption">
            <p>Utilities / Rent Assistance</p>
          </div>
        </a>
      </div>
      <div class="col-sm-3">
        <a href="https://www.uwcark.org/medical">
          <img src="https://png.icons8.com/ios/100/000000/doctors-bag.png" class="img-responsive" alt="Medical / Prescription">
          <div class="caption">
            <p>Medical / Prescription</p>
          </div>
        </a>
      </div>
      <div class="col-sm-3">
        <a href="https://www.uwcark.org/veterans-and-senior-assistance">
          <img src="https://png.icons8.com/wired/100/000000/medal.png" class="img-responsive" alt="Veterans Service">
          <div class="caption">
            <p>Veterans Service</p>
          </div>
        </a>
      </div>
      <div class="col-sm-3">
        <a href="https://www.uwcark.org/miscellaneous">
          <img src="https://png.icons8.com/ios/100/000000/more.png" class="img-responsive" alt="Miscellaneous / Other">
          <div class="caption">
            <p>Miscellaneous / Other</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  
  <a href="https://icons8.com" id="imgcred">Icon pack by Icons8</a>
  
</body>