@page
@model ContactModel
@{
    ViewData["Title"] = "Organization Information Update";
}

<html>
<body>
    <div asp-validation-summary="All"></div>
    <form method="POST">
        <div>Organization Name: <input asp-for="Orgs.Name" /></div>

        <!-- Address -->
        <div>Street Address: <input asp-for="Orgs.Street_Address" /></div>
        <div>City: <input asp-for="Orgs.City" /></div>
        <div>Zip Code: <input asp-for="Orgs.Zip" /></div>

        <!-- Contact Information -->
        <div>Email Address: <input asp-for="Orgs.Email" /></div>
        <div>Phone Number: <input asp-for="Orgs.Phone" /></div>

        <!-- Resources -->
        <div>Clothing: <input asp-for="Orgs.Clothing" /></div>
        <div>Education: <input asp-for="Orgs.Education" /></div>
        <div>Employment: <input asp-for="Orgs.Employment" /></div>
        <div>Finances: <input asp-for="Orgs.Finances" /></div>
        <div>Food: <input asp-for="Orgs.Food" /></div>
        <div>Natural Disaster: <input asp-for="Orgs.Natural_Disaster" /></div>
        <div>Senior Assistance: <input asp-for="Orgs.Senior" /></div>
        <div>Rent and Utilities Assistance: <input asp-for="Orgs.Rent_Utilities" /></div>
        <div>Medical and Prescription Assistance: <input asp-for="Orgs.Medical_Prescription" /></div>
        <div>Veterans Assistance: <input asp-for="Orgs.Veterans" /></div>
        <div>Other Resources: <input asp-for="Orgs.Other_Resources" /></div>
        <div>Other Resources Text: <input asp-for="Orgs.Other_Resources_Text" /></div>

        <!-- Requirements for Help -->
        <div>Requires Photo ID: <input asp-for="Orgs.Photo_ID" /></div>
        <div>Other Requirements: <input asp-for="Orgs.Other_Requirements" /></div>
        <div>Other Requirements: <input asp-for="Orgs.Other_Requirements_Text" /></div>

        <!-- Appointments -->
        <div>Appointments Availible: <input asp-for="Orgs.Appointments_Availible" /></div>
        <div>Appointments Required: <input asp-for="Orgs.Appointments_Required" /></div>

        <!-- Days Open -->
        <div> 1st 2nd 3rd 4th</div>
        <div>
            Monday: <input asp-for="Orgs.Monday1" /> <input asp-for="Orgs.Monday2" />
            <input asp-for="Orgs.Monday3" /> <input asp-for="Orgs.Monday4" />
        </div>
        <div>
            Tuesday: <input asp-for="Orgs.Tuesday1" /> <input asp-for="Orgs.Tuesday2" />
            <input asp-for="Orgs.Tuesday3" /> <input asp-for="Orgs.Tuesday4" />
        </div>
        <div>
            Wednesday: <input asp-for="Orgs.Wednesday1" /> <input asp-for="Orgs.Wednesday2" />
            <input asp-for="Orgs.Wednesday3" /> <input asp-for="Orgs.Wednesday4" />
        </div>
        <div>
            Thursday: <input asp-for="Orgs.Thursday1" /> <input asp-for="Orgs.Thursday2" />
            <input asp-for="Orgs.Thursday3" /> <input asp-for="Orgs.Thursday4" />
        </div>
        <div>
            Friday: <input asp-for="Orgs.Friday1" /> <input asp-for="Orgs.Friday2" />
            <input asp-for="Orgs.Friday3" /> <input asp-for="Orgs.Friday4" />
        </div>
        <div>
            Saturday: <input asp-for="Orgs.Saturday1" /> <input asp-for="Orgs.Saturday2" />
            <input asp-for="Orgs.Saturday3" /> <input asp-for="Orgs.Saturday4" />
        </div>
        <div>
            Sunday: <input asp-for="Orgs.Sunday1" /> <input asp-for="Orgs.Sunday2" />
            <input asp-for="Orgs.Sunday3" /> <input asp-for="Orgs.Sunday4" />
        </div>
        <div>
            24HR 6:00 6:30 7:00 7:30 8:00 8:30 9:00 9:30 10:00 10:30 11:00 11:30 12:00 12:30
            1:00 1:30 2:00 2:30 3:00 3:30 4:00 4:30 5:00 5:30 6:00 6:30 7:00 7:30 8:00 8:30
        </div>
        <div>
            Monday: <input asp-for="Orgs.Monday24HR" />
            <input asp-for="Orgs.Monday600" /> <input asp-for="Orgs.Monday630" />
            <input asp-for="Orgs.Monday700" /> <input asp-for="Orgs.Monday730" />
            <input asp-for="Orgs.Monday800" /> <input asp-for="Orgs.Monday830" />
            <input asp-for="Orgs.Monday900" /> <input asp-for="Orgs.Monday930" />
            <input asp-for="Orgs.Monday1000" /> <input asp-for="Orgs.Monday1030" />
            <input asp-for="Orgs.Monday1100" /> <input asp-for="Orgs.Monday1130" />
            <input asp-for="Orgs.Monday1200" /> <input asp-for="Orgs.Monday1230" />
            <input asp-for="Orgs.Monday1300" /> <input asp-for="Orgs.Monday1330" />
            <input asp-for="Orgs.Monday1400" /> <input asp-for="Orgs.Monday1430" />
            <input asp-for="Orgs.Monday1500" /> <input asp-for="Orgs.Monday1530" />
            <input asp-for="Orgs.Monday1600" /> <input asp-for="Orgs.Monday1630" />
            <input asp-for="Orgs.Monday1700" /> <input asp-for="Orgs.Monday1730" />
            <input asp-for="Orgs.Monday1800" /> <input asp-for="Orgs.Monday1830" />
            <input asp-for="Orgs.Monday1900" /> <input asp-for="Orgs.Monday1930" />
            <input asp-for="Orgs.Monday2000" /> <input asp-for="Orgs.Monday2030" />
        </div>
        <div>
            Tuesday: <input asp-for="Orgs.Tuesday24HR" />
            <input asp-for="Orgs.Tuesday600" /> <input asp-for="Orgs.Tuesday630" />
            <input asp-for="Orgs.Tuesday700" /> <input asp-for="Orgs.Tuesday730" />
            <input asp-for="Orgs.Tuesday800" /> <input asp-for="Orgs.Tuesday830" />
            <input asp-for="Orgs.Tuesday900" /> <input asp-for="Orgs.Tuesday930" />
            <input asp-for="Orgs.Tuesday1000" /> <input asp-for="Orgs.Tuesday1030" />
            <input asp-for="Orgs.Tuesday1100" /> <input asp-for="Orgs.Tuesday1130" />
            <input asp-for="Orgs.Tuesday1200" /> <input asp-for="Orgs.Tuesday1230" />
            <input asp-for="Orgs.Tuesday1300" /> <input asp-for="Orgs.Tuesday1330" />
            <input asp-for="Orgs.Tuesday1400" /> <input asp-for="Orgs.Tuesday1430" />
            <input asp-for="Orgs.Tuesday1500" /> <input asp-for="Orgs.Tuesday1530" />
            <input asp-for="Orgs.Tuesday1600" /> <input asp-for="Orgs.Tuesday1630" />
            <input asp-for="Orgs.Tuesday1700" /> <input asp-for="Orgs.Tuesday1730" />
            <input asp-for="Orgs.Tuesday1800" /> <input asp-for="Orgs.Tuesday1830" />
            <input asp-for="Orgs.Tuesday1900" /> <input asp-for="Orgs.Tuesday1930" />
            <input asp-for="Orgs.Tuesday2000" /> <input asp-for="Orgs.Tuesday2030" />
        </div>
        <div>
            Wednesday: <input asp-for="Orgs.Wednesday24HR" />
            <input asp-for="Orgs.Wednesday600" /> <input asp-for="Orgs.Wednesday630" />
            <input asp-for="Orgs.Wednesday700" /> <input asp-for="Orgs.Wednesday730" />
            <input asp-for="Orgs.Wednesday800" /> <input asp-for="Orgs.Wednesday830" />
            <input asp-for="Orgs.Wednesday900" /> <input asp-for="Orgs.Wednesday930" />
            <input asp-for="Orgs.Wednesday1000" /> <input asp-for="Orgs.Wednesday1030" />
            <input asp-for="Orgs.Wednesday1100" /> <input asp-for="Orgs.Wednesday1130" />
            <input asp-for="Orgs.Wednesday1200" /> <input asp-for="Orgs.Wednesday1230" />
            <input asp-for="Orgs.Wednesday1300" /> <input asp-for="Orgs.Wednesday1330" />
            <input asp-for="Orgs.Wednesday1400" /> <input asp-for="Orgs.Wednesday1430" />
            <input asp-for="Orgs.Wednesday1500" /> <input asp-for="Orgs.Wednesday1530" />
            <input asp-for="Orgs.Wednesday1600" /> <input asp-for="Orgs.Wednesday1630" />
            <input asp-for="Orgs.Wednesday1700" /> <input asp-for="Orgs.Wednesday1730" />
            <input asp-for="Orgs.Wednesday1800" /> <input asp-for="Orgs.Wednesday1830" />
            <input asp-for="Orgs.Wednesday1900" /> <input asp-for="Orgs.Wednesday1930" />
            <input asp-for="Orgs.Wednesday2000" /> <input asp-for="Orgs.Wednesday2030" />
        </div>
        <div>
            Thursday: <input asp-for="Orgs.Thursday24HR" />
            <input asp-for="Orgs.Thursday600" /> <input asp-for="Orgs.Thursday630" />
            <input asp-for="Orgs.Thursday700" /> <input asp-for="Orgs.Thursday730" />
            <input asp-for="Orgs.Thursday800" /> <input asp-for="Orgs.Thursday830" />
            <input asp-for="Orgs.Thursday900" /> <input asp-for="Orgs.Thursday930" />
            <input asp-for="Orgs.Thursday1000" /> <input asp-for="Orgs.Thursday1030" />
            <input asp-for="Orgs.Thursday1100" /> <input asp-for="Orgs.Thursday1130" />
            <input asp-for="Orgs.Thursday1200" /> <input asp-for="Orgs.Thursday1230" />
            <input asp-for="Orgs.Thursday1300" /> <input asp-for="Orgs.Thursday1330" />
            <input asp-for="Orgs.Thursday1400" /> <input asp-for="Orgs.Thursday1430" />
            <input asp-for="Orgs.Thursday1500" /> <input asp-for="Orgs.Thursday1530" />
            <input asp-for="Orgs.Thursday1600" /> <input asp-for="Orgs.Thursday1630" />
            <input asp-for="Orgs.Thursday1700" /> <input asp-for="Orgs.Thursday1730" />
            <input asp-for="Orgs.Thursday1800" /> <input asp-for="Orgs.Thursday1830" />
            <input asp-for="Orgs.Thursday1900" /> <input asp-for="Orgs.Thursday1930" />
            <input asp-for="Orgs.Thursday2000" /> <input asp-for="Orgs.Thursday2030" />
        </div>
        <div>
            Friday: <input asp-for="Orgs.Friday24HR" />
            <input asp-for="Orgs.Friday600" /> <input asp-for="Orgs.Friday630" />
            <input asp-for="Orgs.Friday700" /> <input asp-for="Orgs.Friday730" />
            <input asp-for="Orgs.Friday800" /> <input asp-for="Orgs.Friday830" />
            <input asp-for="Orgs.Friday900" /> <input asp-for="Orgs.Friday930" />
            <input asp-for="Orgs.Friday1000" /> <input asp-for="Orgs.Friday1030" />
            <input asp-for="Orgs.Friday1100" /> <input asp-for="Orgs.Friday1130" />
            <input asp-for="Orgs.Friday1200" /> <input asp-for="Orgs.Friday1230" />
            <input asp-for="Orgs.Friday1300" /> <input asp-for="Orgs.Friday1330" />
            <input asp-for="Orgs.Friday1400" /> <input asp-for="Orgs.Friday1430" />
            <input asp-for="Orgs.Friday1500" /> <input asp-for="Orgs.Friday1530" />
            <input asp-for="Orgs.Friday1600" /> <input asp-for="Orgs.Friday1630" />
            <input asp-for="Orgs.Friday1700" /> <input asp-for="Orgs.Friday1730" />
            <input asp-for="Orgs.Friday1800" /> <input asp-for="Orgs.Friday1830" />
            <input asp-for="Orgs.Friday1900" /> <input asp-for="Orgs.Friday1930" />
            <input asp-for="Orgs.Friday2000" /> <input asp-for="Orgs.Friday2030" />
        </div>
        <div>
            Saturday: <input asp-for="Orgs.Saturday24HR" />
            <input asp-for="Orgs.Saturday600" /> <input asp-for="Orgs.Saturday630" />
            <input asp-for="Orgs.Saturday700" /> <input asp-for="Orgs.Saturday730" />
            <input asp-for="Orgs.Saturday800" /> <input asp-for="Orgs.Saturday830" />
            <input asp-for="Orgs.Saturday900" /> <input asp-for="Orgs.Saturday930" />
            <input asp-for="Orgs.Saturday1000" /> <input asp-for="Orgs.Saturday1030" />
            <input asp-for="Orgs.Saturday1100" /> <input asp-for="Orgs.Saturday1130" />
            <input asp-for="Orgs.Saturday1200" /> <input asp-for="Orgs.Saturday1230" />
            <input asp-for="Orgs.Saturday1300" /> <input asp-for="Orgs.Saturday1330" />
            <input asp-for="Orgs.Saturday1400" /> <input asp-for="Orgs.Saturday1430" />
            <input asp-for="Orgs.Saturday1500" /> <input asp-for="Orgs.Saturday1530" />
            <input asp-for="Orgs.Saturday1600" /> <input asp-for="Orgs.Saturday1630" />
            <input asp-for="Orgs.Saturday1700" /> <input asp-for="Orgs.Saturday1730" />
            <input asp-for="Orgs.Saturday1800" /> <input asp-for="Orgs.Saturday1830" />
            <input asp-for="Orgs.Saturday1900" /> <input asp-for="Orgs.Saturday1930" />
            <input asp-for="Orgs.Saturday2000" /> <input asp-for="Orgs.Saturday2030" />
        </div>
        <div>
            Sunday: <input asp-for="Orgs.Sunday24HR" />
            <input asp-for="Orgs.Sunday600" /> <input asp-for="Orgs.Sunday630" />
            <input asp-for="Orgs.Sunday700" /> <input asp-for="Orgs.Sunday730" />
            <input asp-for="Orgs.Sunday800" /> <input asp-for="Orgs.Sunday830" />
            <input asp-for="Orgs.Sunday900" /> <input asp-for="Orgs.Sunday930" />
            <input asp-for="Orgs.Sunday1000" /> <input asp-for="Orgs.Sunday1030" />
            <input asp-for="Orgs.Sunday1100" /> <input asp-for="Orgs.Sunday1130" />
            <input asp-for="Orgs.Sunday1200" /> <input asp-for="Orgs.Sunday1230" />
            <input asp-for="Orgs.Sunday1300" /> <input asp-for="Orgs.Sunday1330" />
            <input asp-for="Orgs.Sunday1400" /> <input asp-for="Orgs.Sunday1430" />
            <input asp-for="Orgs.Sunday1500" /> <input asp-for="Orgs.Sunday1530" />
            <input asp-for="Orgs.Sunday1600" /> <input asp-for="Orgs.Sunday1630" />
            <input asp-for="Orgs.Sunday1700" /> <input asp-for="Orgs.Sunday1730" />
            <input asp-for="Orgs.Sunday1800" /> <input asp-for="Orgs.Sunday1830" />
            <input asp-for="Orgs.Sunday1900" /> <input asp-for="Orgs.Sunday1930" />
            <input asp-for="Orgs.Sunday2000" /> <input asp-for="Orgs.Sunday2030" />
        </div>

        <div>Additional Comments: <input asp-for="Orgs.Additional_Comments" /></div>

        <input type="submit" />
    </form>
</body>
</html>