@model CommunityResources.Models.Time

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/Graces2.css" type="text/css" runat="server">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>    src = "https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7-vsdoc.js" ></script>

</head>
<body>
  <div class="create-page">

    <h2>Create: Time</h2>
    <hr />
        
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="OrganizationId" class="control-label"></label>
                    <select asp-for="OrganizationId" class="form-control" asp-items="ViewBag.OrganizationId" style="border: 2px solid #CFCFCF"></select>
                </div>
                    
                <div class="form-group">
                    <label asp-for="Time_Start" class="control-label"></label>
                    <br>
                    <select name="Time_Start" id="Start_Time">
                        <option value="">--Select start time--</option>
                    </select>
                    <br>
                    <span asp-validation-for="Time_Start" class="text-danger"></span>
                </div>
                    
                <div class="form-group">
                    <label asp-for="Time_End" class="control-label"></label>
                    <br>
                    <select name="Time_End" id="End_Time">
                        <option value="">--Select start time--</option>
                    </select>
                    <br>
                    <span asp-validation-for="Time_End" class="text-danger"></span>
                </div>
                    
                <div class="form-group">
                    <label asp-for="Repeat" class="control-label"></label>
                    <br>
                                                                          <select name="Repeat">
                                                                              <option value="0">Every Week</option>
                                                                              <option value="1">1st Week of the Month</option>
                                                                              <option value="2">2nd Week of the Month</option>
                                                                              <option value="3">3rd Week of the Month</option>
                                                                              <option value="4">4th Week of the Month</option>
                                                                          </select>
                    <br>
                    <span asp-validation-for="Repeat" class="text-danger"></span>
                </div>
                    
                <div class="form-group">
                    <label asp-for="Day" class="control-label"></label>
                    <br>
                                                                       <select name="Day">
                                                                           <option value="Monday">Monday</option>
                                                                           <option value="Tuesday">Tuesday</option>
                                                                           <option value="Wednesday">Wednesday</option>
                                                                           <option value="Thursday">Thursday</option>
                                                                           <option value="Friday">Friday</option>
                                                                           <option value="Saturday">Saturday</option>
                                                                           <option value="Sunday">Sunday</option>
                                                                       </select>
                    <span asp-validation-for="Day" class="text-danger"></span>
                </div>
                    
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" id="save-edit-btn"/>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="btn btn-primary" id="ews-btn" asp-action="AddTimes" asp-route-id="@ViewData["FK"]">Cancel</a>
    </div>
  </div>
    <script src="~/js/site.js"></script>
</body>