@model CommunityResources.Models.Time

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/Graces2.css" type="text/css" runat="server">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>    src = "https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7-vsdoc.js" ></script>

</head>
<body>
  <div class="edit-page">
    
    <h2>Edit Time Information</h2>
    <hr />
        
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="TimesId" />
                <div class="form-group">
                    <label asp-for="OrganizationId" class="control-label"></label>
                    <br>
                    <select asp-for="OrganizationId" class="form-control" asp-items="ViewBag.OrganizationId" style="border: 2px solid #CFCFCF"></select>
                    <span asp-validation-for="OrganizationId" class="text-danger"></span>
                </div>
                    
                <br>
                    
                <div class="form-group">
                    <label asp-for="Time_Start" class="control-label"></label>
                    <br>
                    <select name="Time_Start" id="S_Time">
                        <option value="@Model.Time_Start">@Model.Time_Start.ToString()</option>
                    </select>
                    <span asp-validation-for="Time_Start" class="text-danger"></span>
                </div>
                    
                <br>
                    
                  <div class="form-group">
                      <label asp-for="Time_End" class="control-label"></label>
                      <br>
                      <select name="Time_End" id="E_Time">
                          <option value="@Model.Time_End">@Model.Time_End.ToString()</option>
                      </select>
                      <span asp-validation-for="Time_End" class="text-danger"></span>
                  </div>
                    
                <br>
                    
                  <div class="form-group">
                      <label asp-for="Repeat" class="control-label"></label>
                      <br>
                      @if (Model.Repeat.Equals(0))
    {
                  <select name="Repeat">
                      <option value="0" selected="selected">Every Week</option>
                      <option value="1">1st Week of the Month</option>
                      <option value="2">2nd Week of the Month</option>
                      <option value="3">3rd Week of the Month</option>
                      <option value="4">4th Week of the Month</option>
                  </select>}
                      @if (Model.Repeat.Equals(1))
    {
                  <select name="Repeat">
                      <option value="0">Every Week</option>
                      <option value="1"  selected="selected">1st Week of the Month</option>
                      <option value="2">2nd Week of the Month</option>
                      <option value="3">3rd Week of the Month</option>
                      <option value="4">4th Week of the Month</option>
                  </select>}
                      @if (Model.Repeat.Equals(2))
    {
                  <select name="Repeat">
                      <option value="0">Every Week</option>
                      <option value="1">1st Week of the Month</option>
                      <option value="2"  selected="selected">2nd Week of the Month</option>
                      <option value="3">3rd Week of the Month</option>
                      <option value="4">4th Week of the Month</option>
                  </select>}
                      @if (Model.Repeat.Equals(3))
    {
                  <select name="Repeat">
                      <option value="0">Every Week</option>
                      <option value="1">1st Week of the Month</option>
                      <option value="2">2nd Week of the Month</option>
                      <option value="3"  selected="selected">3rd Week of the Month</option>
                      <option value="4">4th Week of the Month</option>
                  </select>}
                      @if (Model.Repeat.Equals(4))
    {
                  <select name="Repeat">
                      <option value="0">Every Week</option>
                      <option value="1">1st Week of the Month</option>
                      <option value="2">2nd Week of the Month</option>
                      <option value="3"  selected="selected">3rd Week of the Month</option>
                      <option value="4">4th Week of the Month</option>
                  </select>}
                      <span asp-validation-for="Repeat" class="text-danger"></span>
                  </div>
                    
                <br>
                    
                <div class="form-group">
                    <label asp-for="Day" class="control-label"></label>
                    <br>
                    @if (Model.Day.Equals("Monday"))
        {
                <select name="Day">
                    <option value="Monday" selected="selected">Monday</option>
                    <option value="Tuesday" >Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday">Sunday</option>
                </select>}
                    @if (Model.Day.Equals("Tuesday"))
        {
                <select name="Day">
                    <option value="Monday">Monday</option>
                    <option value="Tuesday" selected="selected">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday">Sunday</option>
                </select>}
                    @if (Model.Day.Equals("Wednesday"))
        {
                <select name="Day">
                    <option value="Monday">Monday</option>
                    <option value="Tuesday" >Tuesday</option>
                    <option value="Wednesday" selected="selected">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday">Sunday</option>
                </select>}
                    @if (Model.Day.Equals("Thursday"))
        {
                <select name="Day">
                    <option value="Monday">Monday</option>
                    <option value="Tuesday" >Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday"selected="selected">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday">Sunday</option>
                </select>}
                    @if (Model.Day.Equals("Friday"))
        {
                <select name="Day">
                    <option value="Monday">Monday</option>
                    <option value="Tuesday"  >Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday" selected="selected">Friday</option>
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday">Sunday</option>
                </select>}
                    @if (Model.Day.Equals("Saturday"))
        {
                <select name="Day">
                    <option value="Monday">Monday</option>
                    <option value="Tuesday" >Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday"selected="selected">Saturday</option>
                    <option value="Sunday">Sunday</option>
                </select>}
                    @if (Model.Day.Equals("Sunday"))
        {
                <select name="Day">
                    <option value="Monday">Monday</option>
                    <option value="Tuesday" >Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday"selected="selected">Sunday</option>
                </select>}
                @*<input asp-for="Day" class="form-control" style="border: 2px solid #CFCFCF" />*@
                    <span asp-validation-for="Day" class="text-danger"></span>
                </div>
                    
                <br>
                    
                <div class="form-group">
                    <input type="submit" value="Save Changes" class="btn btn-default" id="save-edit-btn"/>
                </div>
                    
            </form>
        </div>
    </div>
  </div>
 </body>
    <script src="~/js/site.js"></script>


