<html>
<body>
<meta charset="UTF-8">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet">
 <link rel="stylesheet" href="~/css/Graces2.css" type="text/css" runat="server"/>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="header">
    @RenderSection("Scripts", required: false)
      <div class = "row">
   <div class = "col-sm-3">
      <h1 class="header-title">United Way <br>
                               of Central Arkansas
      </h1>
   </div>
   <div class = 'col-sm-1'>
        <a href="https://www.uwcark.org/">
            <img src="https://www.uwcark.org/sites/uwcark.org/files/live-united.png" alt="UWCARK" height ='125'>
        </a>
   </div>
   <div class = 'col-sm-1'></div>
   <div class = 'col-sm-6'>
   <div class="row">
       <div class = 'col-sm-3'></div>
       <div class = 'col-sm-3'>
         <div class="topbutton1">
            <a href="https://www.uwcark.org/volunteer" style="color:white">VOLUNTEER</a>
         </div>
       </div>
       <div class = 'col-sm-3'>
         <div class = 'topbutton2'>
            <a href="https://www.uwcark.org/civicrm/contribute/transact?reset=1&id=1" style="color:white">DONATE</a>
         </div>
       </div>
       <div class = 'col-sm-3'>
         <div class = 'topbutton3'>
            <a href="https://docs.google.com/forms/d/1TkIU-AyiK2KNc97sD-KghVBVcdfGPGast6ZIxdI9-m0/viewform?edit_requested=true" style="color:white">SHARE MY EVENT</a>
         </div>
       </div>
   </div>
 
   <div class="row">
   <div class = 'col-md-6'></div>
     <div class = 'col-md-1'>
        <a href="https://www.facebook.com/uwcark">
            <img src="http://ameliaurgentcare.com/wp-content/uploads/2016/06/facebook-round-350-white-background.png" alt="UWCARK Facebook" height ='50'>
        </a>
     </div>
     <div class = 'col-md-1'>
        <a href="https://www.instagram.com/uwcark/">
            <img src="http://sguru.org/wp-content/uploads/2018/01/instagram-logo-png-transparent-background-1024x1024.png" alt="UWCARK Instagram" height ='50'>
        </a>
     </div>
     <div class = 'col-md-1'>
        <a href="https://twitter.com/UWCARK">
            <img src="http://www.transparentpng.com/thumb/twitter/twitter-png-3.png" alt="UWCARK Twitter" height ='50'>
        </a>
     </div>
     <div class = 'col-md-1'>
        <a href="https://www.uwcark.org/sites/uwcark.org/files/linked-in_1.png">
            <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_color-256.png" alt="UWCARK LinkedIn" height ='50'>
        </a>
     </div>
     <div class = 'col-md-1'>
        <a href="https://www.youtube.com/channel/UCY08y2xv6FmpcICnedFLhmQ">
            <img src="https://vignette.wikia.nocookie.net/ichc-channel/images/9/93/Youtube-circle.png/revision/latest?cb=20160419135307" alt="UWCARK Youtube" height ='50'>
        </a>
     </div>
   <div class = 'col-md-1'></div> </div> </div></div>

        
<div class='topnav'>
     <a href="https://www.uwcark.org/about-us" style="color:white;" id="firsttopnavitem">ABOUT US</a>
     <a href="https://www.uwcark.org/direct-services" style="color:white;">OUR WORK</a>
     <a href="https://www.uwcark.org/volunteer" style="color:white;">GET INVOLVED</a>
     <a asp-area="" asp-controller="Home" asp-action="Index" style="color: white">COMMUNITY RESOURCES</a>
     <a asp-area="" asp-controller="Home" asp-action="GracesResults2" style="color: white">EVENTS</a>
     <a asp-area="" asp-controller="Organizations" asp-action="Index" id="lasttopnavitem" style="color: white">LOGIN</a>
     <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="topnavfunction()">&#9776;</a>
</div>

    <script>       
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
            
 </div>
        
@RenderBody()


 <div class="footer">
     <div class='topfoot'> 
            <div class="row">
                <div class="col-sm-3">
                    <img src='http://www.deschutesunitedway.org/sites/deschutesunitedway.org/files/live-united-footer.png' alt="UWCARK" height ='100'>
                    <br><br>
                    <b>United Way of Central Arkansas</b>
                    <p class="topfoottext">1110 W. Oak Street <br> PO Box 489 <br> Conway, AR 72033 <br> 501-327-5087 </p>
                    <img src='https://www.uwcark.org/sites/uwcark.org/files/UW%20Membership%20Photo.jpg' alt="UWCARK" height ='75'>
                    <div class="row">
                         <div class = 'col-md-2' style="vertical-align: bottom; display: table-cell; padding-top: 10px; padding-bottom: 20px; padding-left: 25px; padding-right: 25px;">
        <a href="https://www.facebook.com/uwcark">
            <img src="http://ameliaurgentcare.com/wp-content/uploads/2016/06/facebook-round-350-white-background.png" alt="UWCARK Facebook" height ='50'>
        </a>
     </div>
     <div class = 'col-md-2' style="vertical-align: bottom; display: table-cell; padding-top: 10px; padding-bottom: 20px; padding-left: 25px; padding-right: 25px;">
        <a href="https://www.instagram.com/uwcark/">
            <img src="http://sguru.org/wp-content/uploads/2018/01/instagram-logo-png-transparent-background-1024x1024.png" alt="UWCARK Instagram" height ='50'>
        </a>
     </div>
     <div class = 'col-md-2' style="vertical-align: bottom; display: table-cell; padding-top: 10px; padding-bottom: 20px; padding-left: 25px; padding-right: 25px;">
        <a href="https://twitter.com/UWCARK">
            <img src="http://www.transparentpng.com/thumb/twitter/twitter-png-3.png" alt="UWCARK Twitter" height ='50'>
        </a>
     </div>
     <div class = 'col-md-2' style="vertical-align: bottom; display: table-cell; padding-top: 10px; padding-bottom: 20px; padding-left: 25px; padding-right: 25px;">
        <a href="https://www.uwcark.org/sites/uwcark.org/files/linked-in_1.png">
            <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_color-256.png" alt="UWCARK LinkedIn" height ='50'>
        </a>
     </div>
     <div class = 'col-md-2' style="vertical-align: bottom; display: table-cell; padding-top: 10px; padding-bottom: 20px; padding-left: 25px; padding-right: 25px;">
        <a href="https://www.youtube.com/channel/UCY08y2xv6FmpcICnedFLhmQ">
            <img src="https://vignette.wikia.nocookie.net/ichc-channel/images/9/93/Youtube-circle.png/revision/latest?cb=20160419135307" alt="UWCARK Youtube" height ='50'>
        </a>
     </div>
                    </div>
                </div>
                <div class="col-md-5"></div>
                <div class="col-sm-4">
                     <div class="search-container">
                         <form class="row">
                            <input type="text" placeholder="Search" name="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                          </form>
                     </div>
                    <p class="topfoottext" style="color:#808080">© 2018 <i>United Way of Central Arkansas</i>. All Rights Reserved.</p>
                </div>
            </div>
        </div>
        <div class="bottomfoot">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                    <br>
                    <b> GET TO KNOW US </b>
                    <br>
                    <p class="bottomfoottext"> <a href='https://www.uwcark.org/board-directors' style="color:#CFCFCF"> Board of Directors </a> </p>
                    <p class="bottomfoottext"> <a href='https://www.uwcark.org/staff' style="color:#CFCFCF"> Staff </a> </p>
                    <p class="bottomfoottext"> <a href='https://www.uwcark.org/about-us' style="color:#CFCFCF"> About Us </a> </p>
                    <p class="bottomfoottext"> <a href='https://www.uwcark.org/history' style="color:#CFCFCF"> Our History </a> </p>
                </div>
                <div class="col-sm-2">
                    <br>
                    <b> OUR IMPACT </b>
                    <br>
                    <p class="bottomfoottext"> <a href='https://www.uwcark.org/education-agencies' style="color:#CFCFCF"> Education </a> </p>
                    <p class="bottomfoottext"> <a href='https://www.uwcark.org/income-agencies' style="color:#CFCFCF"> Income </a> </p>
                    <p class="bottomfoottext"> <a href='https://www.uwcark.org/health-agencies' style="color:#CFCFCF"> Health </a> </p>
                    <p class="bottomfoottext"> <a href='https://www.uwcark.org/safety-net-agencies' style="color:#CFCFCF"> Emergency Services </a> </p>
                </div>
                <div class="col-sm-2">
                    <br>
                    <b> GET INVOLVED </b>
                    <br>
                    <p class="bottomfoottext"> <a href='https://www.uwcark.org/civicrm/contribute/transact?reset=1&id=1' style="color:#CFCFCF">Give </a> </p>
                    <p class="bottomfoottext"> <a href='https://www.uwcark.org/volunteer' style="color:#CFCFCF"> Volunteer </a> </p>
                    <p class="bottomfoottext"> <a href='https://www.uwcark.org/united-way-special-events' style="color:#CFCFCF"> Special Events </a> </p>
                </div>
                <div class="col-sm-2">
                    <br>
                    <b> CONTACT US </b>
                    <br>
                    <p class="bottomfoottext">PO Box 489 </p>
                    <p class="bottomfoottext">Conway, AR 72033</p>
                    <p class="bottomfoottext">501-327-5087</p>
                    <p class="bottomfoottext"> Mail@Uwcark.Org </p>
                </div>
                <div class="col-sm-2">
                    
                </div>
            </div>
        </div>

    
</div>
</body>
</html>